<h2>Pantalla Inicial</h2>

<button (click)="veureDades()">Veure dades</button>
<ng-container *ngIf="this.imatge != ''">
    <img [src]="this.imatge">
</ng-container>

<table>
    <tr>
      <td>Name</td>
      <td>Acció</td>
      <td>Name</td>
      <td>Type</td>
      <td>Subtype</td>
    </tr>
    <tr *ngFor="let monstre of this.monstres;let i = index">
        <td>{{monstre.name}}</td>
        <td><p (click)="veure(i)">&#x2699;</p><input type="checkbox"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>